.contact-container{
    height: 150px;
    text-align: center;
    align-items: center;
    margin-top: 2em;
    box-shadow: 1px 1px 3px 0px lightgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
}