/* You can add global styles to this file, and also import other style files */
.page-margin-top{
    margin-top: 1em;
}
body{
    min-height: 100vh;
    background-color: #f8f9fa !important;
}
a{
    color: black !important;
    text-decoration: none !important;
}
.page-heading{
    font-size: 3rem;
    color: #0d6efd;
}
.app-btn{
    background: black !important;
    border-radius: 0 !important;
    padding: 0.5em 2em !important;
}
.app-btn a{
    color: white !important;
    text-decoration: none !important;
}

// mobile media query
@media only screen and (max-width: 600px) {
    .blog-card{
        width: 100% !important;
        margin-right: 0 !important;
    }
}